/*CSS Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Variables*/
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/*Main Styles*/
html {
  background-color: var(--light);
  color: var(--dark);
  font-size: 32px;
  line-height: 1.5;
  font-weight: 200;
  font-family: 'Trade Winds', cursive;
}

body {
  margin: 0px 50px;
  background-color: lightslategrey;
}

/*Header*/
h1 {
  font-size: 150%;
  text-transform: uppercase;
  padding: 30px;
  letter-spacing: 1.8;
  background: var(--dark);
  color: var(--light);
  text-align: center;
}


/*Main Content*/
.wrapper {
  height: 80vh;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(2, 3fr);
  grid-template-areas:
  "box-2"
  "box-3";
}

input {
  width: 50%;
  margin: 10% 2%;
  height: auto;
  font-size: 24px;
}

button {
  padding: 20px;
  background: var(--dark);
  color: var(--light);
  font-size: 50%;
}

button:hover {
  background: #4b4541;
  font-size: 65%;
  padding: 30px;
  transition: 0.2s;
}

section {
  margin-top: 20px;
  color: var(--primary);
  text-align: center;
}

/*JQuery*/
#tasks {
  background-color: #fff;
  width: auto;
  height: auto;
  padding: 20px;
  overflow: hidden;
  margin: 30px 0px;
  color: black;
  background-color: lightslategrey;
}

#newtask {
  margin: 10px 10px;
}

#task-div {
  margin: 2%;
  font-size: 200%;
  padding: 20px;
  box-sizing: border-box;
}

#delete {
  cursor: pointer;
}

/*Footer*/
footer {
  position: relative; 
  background: var(--dark);
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  margin-top: 30px;

}

footer > p {
  padding: 20px;
  text-align: center;
}

/*Will Delete*/

header {
  border: 2px solid red;
}
.add-task {
  border: 2px solid red; 
}

.task-list {
  border: 2px solid red;
}

.footer {
  border: 2px solid red;
}
